## Ignore Visual Studio / Rider / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## User secrets & local config
**/appsettings.*.local.json
secrets.json

## EF Core
*.db
*.db-shm
*.db-wal

## OS
.DS_Store
Thumbs.db

## JetBrains
.idea/
